@model School

@{
    ViewBag.Title = "Add School";
}
@section Styles
{
    <link href="@Url.Content("~/Content/Bootstrap/bootstrap-multiselect.css")" rel="stylesheet" type="text/css" />
}

@HtmlBuilder.BreadcrumbTitle(Url, "Schools", "Add")

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal short-fields">
        <hr />
        @Html.ValidationSummary(true)

        @{
            System.Linq.Expressions.Expression<Func<School, string>> expr = model => model.Name;
            @HtmlBuilder.TextField(
                Html.LabelFor(expr, new { @class = "control-label col-md-2" }),
                Html.EditorFor(expr, new { htmlAttributes = new { @class = "form-control length-help" } }),
                Html.ValidationMessageFor(expr),
                true);

            expr = model => model.Short_Name;
            @HtmlBuilder.TextField(
                Html.LabelFor(expr, new { @class = "control-label col-md-2" }),
                Html.EditorFor(expr, new { htmlAttributes = new { @class = "form-control length-help" } }),
                Html.ValidationMessageFor(expr),
                true);
            
            <div class="form-group">
                @Html.Label("Ambassadors", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.ListBox("Ambassadors", null, new { @class = "form-control", multiple = "multiple" })
                </div>
                @Html.ValidationMessageFor(model => model.Employees, "", new { @class = "text-danger" })
            </div>
            
            <div class="form-group">
                @Html.Label("Mentors", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.ListBox("Mentors", null, new { @class = "form-control", multiple = "multiple" })
                </div>
                @Html.ValidationMessageFor(model => model.Employees, "", new { @class = "text-danger" })
            </div>

            expr = model => model.Contact_Name;
            @HtmlBuilder.TextField(
                Html.LabelFor(expr, new { @class = "control-label col-md-2" }),
                Html.EditorFor(expr, new { htmlAttributes = new { @class = "form-control length-help" } }),
                Html.ValidationMessageFor(expr),
                true);
            
            expr = model => model.Contact_Title;
            @HtmlBuilder.TextField(
                Html.LabelFor(expr, new { @class = "control-label col-md-2" }),
                Html.EditorFor(expr, new { htmlAttributes = new { @class = "form-control length-help" } }),
                Html.ValidationMessageFor(expr),
                true);

            expr = model => model.Email;
            @HtmlBuilder.TextField(
                Html.LabelFor(expr, new { @class = "control-label col-md-2" }),
                Html.EditorFor(expr, new { htmlAttributes = new { @class = "form-control length-help" } }),
                Html.ValidationMessageFor(expr),
                true);

            expr = model => model.Phone;
            @HtmlBuilder.TextField(
                Html.LabelFor(expr, new { @class = "control-label col-md-2" }),
                Html.EditorFor(expr, new { htmlAttributes = new { @class = "form-control" } }),
                Html.ValidationMessageFor(expr));

            expr = model => model.Fax;
            @HtmlBuilder.TextField(
                Html.LabelFor(expr, new { @class = "control-label col-md-2" }),
                Html.EditorFor(expr, new { htmlAttributes = new { @class = "form-control" } }),
                Html.ValidationMessageFor(expr));

            expr = model => model.Street;
            @HtmlBuilder.TextField(
                Html.LabelFor(expr, new { @class = "control-label col-md-2" }),
                Html.EditorFor(expr, new { htmlAttributes = new { @class = "form-control" } }),
                Html.ValidationMessageFor(expr));

            expr = model => model.City;
            @HtmlBuilder.TextField(
                Html.LabelFor(expr, new { @class = "control-label col-md-2" }),
                Html.EditorFor(expr, new { htmlAttributes = new { @class = "form-control" } }),
                Html.ValidationMessageFor(expr));

            expr = model => model.State;
            @HtmlBuilder.TextField(
                Html.LabelFor(expr, new { @class = "control-label col-md-2" }),
                Html.EditorFor(expr, new { htmlAttributes = new { @class = "form-control" } }),
                Html.ValidationMessageFor(expr));

            expr = model => model.Zip;
            @HtmlBuilder.TextField(
                Html.LabelFor(expr, new { @class = "control-label col-md-2" }),
                Html.EditorFor(expr, new { htmlAttributes = new { @class = "form-control" } }),
                Html.ValidationMessageFor(expr));
            
            @HtmlBuilder.Buttons("Add", ViewBag.CancelUrl)
        }
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Custom/length-help.js")
    @Scripts.Render("~/Scripts/Vendor/bootstrap-multiselect.js")
    <script type="text/javascript">
        $(document).ready(function () {
            var multiselectOpts = {
                disableIfEmpty: true,
                maxHeight: 300,
                includeSelectAllOption: true
            }
            $("#Ambassadors").multiselect(multiselectOpts);
            $("#Mentors").multiselect(multiselectOpts);
        });
    </script>
}
